body {
	font-family: "Arial", sans-serif;
	background-color: #f4f6f9;
	color: #333;
	margin: 0;
	padding: 20px;
}

h1,
h2,
h3 {
	color: #0079c1;
}

button {
	background-color: #0079c1;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 10px 15px;
	cursor: pointer;
}

button:hover {
	background-color: #005b93;
}

select,
input[type="text"] {
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
	margin-top: 3px;
}

input[type="checkbox"] {
	transform: scale(1.5);
	margin: 10px 10px 10px 3px;
}

div {
	margin-bottom: 20px;
}

.variable-group {
	display: flex;
	gap: 10px;
}

.variable-group select {
	flex-grow: 1;
	min-width: 0;
}

.variable-group button {
	flex-shrink: 0;
}

.variable-group button.delete-btn {
	background-color: transparent;
	border-radius: 4px;
	border: none;
	cursor: pointer;
}